body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select          : none;
  min-width: 100%;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.cell{
  display: inline-block;
  width:10%;
  text-align: center;
  min-height: 50px;
  padding: 0px;
  vertical-align: middle;
  line-height: 50px;
  border-bottom: 1px solid #bab9b9;

}

input,select{
  min-width: 120px !important ;
  max-width: 120px !important;
}


.cell img{
max-width:15px;
max-height: 15px;
}
.tableRow:nth-child(2n) {
  background-color: #e9fae9;
  
}

.cell.header {
  background-color: #dbeded;
    line-height: 15px;
    vertical-align: middle;
    padding-top: 15px;
}

.grid{
  
  margin: 0 auto;
  height:100%;
  width:100%;
}